{%- comment -%}
  @param menu {Menu} REQUIRED
    The primary menu to use in the navigation list.

  @param products_menu {Menu}
    The menu to use for the Products dropdown.

  @param about_us_page {Page}
    The page to link for About Us.

  @param section {Section}
    The section object for accessing settings.

  @param classes {String}
  Any classes to add to the nav element.

  @param nav_position {String}
    The position of the navigation in the header, one of "left", "center", "below", or "none". Default is "center".

{%- endcomment -%}

<nav
  class="header-nav {{ nav_classes }} {{ nav_position }}"
  data-header-nav
  aria-label="{{ 'sections.header.main_nav' | t }}"
>
  <ul
    class="header-nav__tier-1"
    data-header-nav-tier-1
  >
    
    {% if products_menu != blank %}
      <li class="header-nav__tier-1-item" data-header-nav-parent>
        <details data-header-nav-details>
          <summary class="header-nav__tier-1-link header-nav__tier-1-link--parent" data-header-nav-link aria-expanded="false" aria-controls="nav-tier-2-products" role="button">
            <span>Products</span>
          </summary>
          <ul id="nav-tier-2-products" class="header-nav__tier-2" tabindex="-1" data-header-nav-tier-2 data-header-nav-submenu>
            {% for link in linklists[products_menu].links %}
              <li class="header-nav__tier-2-item">
                <a href="{{ link.url }}" class="header-nav__tier-2-link">
                  <span>{{ link.title | escape }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
        </details>
      </li>
    {% endif %}

    {% if about_us_page != blank %}
      <li class="header-nav__tier-1-item">
        <a href="{{ about_us_page.url }}" class="header-nav__tier-1-link" data-header-nav-link>
          <span>About Us</span>
        </a>
      </li>
    {% endif %}

    {% for link_tier_1 in linklists[menu].links %}
      {% assign has_tier_2 = false %}
      {% if link_tier_1.links.size > 0 %}
        {% assign has_tier_2 = true %}

        {% if section.blocks.size > 0 %}
          {% assign has_mega_nav = false %}

          {% for block in section.blocks %}
            {% if block.type == 'meganav' %}
              {% assign meganav_trigger = block.settings.title | handle %}
              {% if link_tier_1.handle == meganav_trigger %}
                {% assign has_mega_nav = true %}
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endif %}

      <li
        class="
          header-nav__tier-1-item
          {% if has_mega_nav %}header-nav__mega-nav-parent{% endif %}
        "
        {% if has_tier_2 %}data-header-nav-parent{% endif %}
      >
        {% if has_tier_2 %}
          <details data-header-nav-details>
            <summary
              class="header-nav__tier-1-link header-nav__tier-1-link--parent"
              data-header-nav-link
              aria-expanded="false"
              aria-controls="nav-tier-2-{{ forloop.index }}"
              role="button"
            >
              <span>{{ link_tier_1.title | escape }}</span>
            </summary>
        {% else %}
            <a
              href="{{ link_tier_1.url }}"
              class="header-nav__tier-1-link"
              data-header-nav-link
            >
              <span>{{ link_tier_1.title | escape }}</span>
            </a>
        {% endif %}

        {% if has_mega_nav %}
          {%
            render 'mega-nav',
            links: link_tier_1
          %}
        {% endif %}

        {% if has_tier_2 %}
          <ul
            id="nav-tier-2-{{ forloop.index }}"
            class="header-nav__tier-2"
            tabindex="-1"
            data-header-nav-tier-2
            data-header-nav-submenu
          >
            {% for link_tier_2 in link_tier_1.links %}
              {% assign has_tier_3 = false %}
              {% if link_tier_2.links.size > 0 %}
                {% assign has_tier_3 = true %}
              {% endif %}
              <li
                class="header-nav__tier-2-item"
                {% if has_tier_3 %}data-header-nav-parent{% endif %}
              >
                {% if has_tier_3 %}
                  <details data-header-nav-details>
                    <summary
                      class="header-nav__tier-2-link header-nav__tier-2-link--parent"
                      data-header-nav-link
                      aria-expanded="false"
                      aria-controls="nav-tier-3-{{ forloop.index }}"
                      role="button"
                    >
                      <span>{{ link_tier_2.title | escape }}</span>
                    </summary>
                {% else %}
                    <a
                      href="{{ link_tier_2.url }}"
                      class="header-nav__tier-2-link"
                      data-header-nav-link
                    >
                      <span>{{ link_tier_2.title | escape }}</span>
                    </a>
                {% endif %}

                {% if has_tier_3 %}
                  <ul
                    id="nav-tier-3-{{ forloop.index }}"
                    class="header-nav__tier-3"
                    tabindex="-1"
                    data-header-nav-tier-3
                    data-header-nav-submenu
                  >
                    {% for link_tier_3 in link_tier_2.links %}
                      <li class="header-nav__tier-3-item">
                        <a
                          href="{{ link_tier_3.url }}"
                          class="header-nav__tier-3-link"
                        >
                          <span>{{ link_tier_3.title | escape }}</span>
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                  </details>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
          </details>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</nav>
