{% assign interactive = interactive | default: false %}

<div class="line-item" data-line-item="{{ line_item.key }}">
  <figure class="line-item-figure">
    <a
      class="line-item-anchor"
      href="{{ line_item.url }}"
    >
      {%
        render 'rimg',
        class: 'line-item-image',
        img: line_item.image,
        alt: line_item.product.title,
        size: '100x'
      %}
    </a>
  </figure>

  <div class="line-item-info">
    <div class="line-item-titling-remove">
      <div class="line-item-titling">
        {% assign line_item_title = line_item.product.title %}
        {% if line_item_title == blank %}
          {% assign line_item_title = line_item.title %}
        {% endif %}
        {% assign line_item_options = '' %}
        {% unless line_item.product.has_only_default_variant %}
          {% if line_item.variant.option1 != blank %}
            {% assign line_item_options = line_item.variant.option1 %}
          {% endif %}
          {% if line_item.variant.option2 != blank %}
            {% assign line_item_options = line_item_options | append: ', ' | append: line_item.variant.option2 %}
          {% endif %}
          {% if line_item.variant.option3 != blank %}
            {% assign line_item_options = line_item_options | append: ', ' | append: line_item.variant.option3 %}
          {% endif %}
        {% endunless %}

        <span class="line-item-title">{{ line_item_title }}</span>
        {% if line_item_options != blank %}
          <span class="line-item-options">{{ line_item_options }}</span>
        {% endif %}
        {% if line_item.selling_plan_allocation.selling_plan %}
          <span class="line-item-subscriptions">{{ line_item.selling_plan_allocation.selling_plan.name }}</span>
        {% endif %}
      </div>

      <noscript>
        <a
          href="{{ routes.cart_change_url }}?line={{ item_index }}&amp;quantity=0"
          class="line-item-remove line-item-remove__no-js"
        >
          {{ 'cart.item.remove' | t }}
        </a>
      </noscript>

      {% if interactive %}
        <button class="line-item-remove" data-line-item-remove>{{ 'cart.item.remove' | t }}</button>
      {% endif %}
    </div>

    <div class="line-item-prices-discounts">
      <div class="line-item-prices">
        {% if line_item.original_price != line_item.final_price %}
          <span class="line-item-original-price money">{{ line_item.original_price | money }}</span>
        {% endif %}
        <span class="line-item-final-price money">{{ line_item.final_price | money }}</span>
      </div>

      {% if line_item.unit_price_measurement %}
        {% capture total_quantity %}<span class="line-item--total-quantity" data-total-quantity>{{ line_item.unit_price_measurement.quantity_value }}{{ line_item.unit_price_measurement.quantity_unit }}</span>{% endcapture %}
        {% capture unit_price %}<span class="line-item--unit-price-amount money" data-unit-price-amount>{{ line_item.unit_price | money }}</span>{% endcapture %}
        {% capture unit_measure %}<span class="line-item--unit-price-measure" data-unit-price-measure>{%- if line_item.unit_price_measurement.reference_value != 1 -%}{{ line_item.unit_price_measurement.reference_value }}{%- endif %}{{ line_item.unit_price_measurement.reference_unit }}</span>{% endcapture %}

        <div class="line-item-unit-price">
          {{ 'products.product.unit_price_html' | t: total_quantity: total_quantity, unit_price: unit_price, unit_measure: unit_measure | strip_newlines }}
        </div>
      {% endif %}

      {% if line_item.line_level_discount_allocations.size > 0 %}
        <div class="line-item-discounts">
          {% for discount_allocation in line_item.line_level_discount_allocations %}
            <span class="line-item-discount">
              {%- render 'icon-discount-tag' -%}
              {{ discount_allocation.discount_application.title }} (-<span class="money">{{ discount_allocation.amount | money }}</span>)
            </span>
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <div class="line-item-quantity">
      {% if interactive %}
        <input
          type="number"
          name="updates[]"
          class="line-item-quantity-input"
          value="{{ line_item.quantity }}" size="1"
          aria-label="{{ 'cart.item.quantity' | t }}"
          data-line-item-quantity-input
        >
        <button
          class="line-item-quantity-decrement"
          aria-label="{{ 'cart.item.decrement' | t }}"
          data-line-item-quantity-decrement
        >
        </button>
        <button
          class="line-item-quantity-increment"
          aria-label="{{ 'cart.item.increment' | t }}"
          data-line-item-quantity-increment
        >
        </button>
      {% else %}
        <span class="line-item-quantity-span-w-label">{{ 'cart.item.quantity' | t }}: {{ line_item.quantity }}</span>
        <span class="line-item-quantity-span">{{ line_item.quantity }}</span>
      {% endif %}
    </div>

    <div class="line-item-line-prices">
      {% if line_item.original_line_price != line_item.final_line_price %}
        <span class="line-item-original-line-price money">{{ line_item.original_line_price | money }}</span>
      {% endif %}
      <span class="line-item-final-line-price money">{{ line_item.final_line_price | money }}</span>
    </div>
  </div>
</div>
