{% comment %}
  @param product {object}
    (Required) Contains product information
{% endcomment %}

{% liquid
  assign section_onboarding = false

  if product == blank
    assign section_onboarding = true
  endif

  assign form_id = section.id
  assign product_form_id = 'product-form-' | append: form_id | strip_newlines

  assign selected_variant = product.selected_or_first_available_variant

  assign show_spb = settings.show_payment_button | default: false
  if product.selling_plan_groups.size > 0
    assign show_spb = false
  endif

  assign show_recipient_form = block.settings.show_gift_card_recipient_form
  assign recipient_form_input_classes = 'input-field'
  assign recipient_form_textarea_classes = 'input-field-textarea'
  assign recipient_form_textarea_rows = 6
  assign recipient_form_checkbox_size = 14
  assign recipient_form_checkbox_stroke_size = 2
%}

<div
  class="
    product-form
    product-form--recipient-form-{{ show_recipient_form }}
    {% if show_spb %}product-form-has-spb{% endif %}
    {% if selected_variant.available == false %}product-form-outofstock{% endif %}
    {{ class }}
  "
  {{ block.shopify_attributes }}
>
  {% if product != blank %}
    {%
      form 'product',
      product,
      id: product_form_id,
      data-product-form: form_id
    %}
      {% if product.variants.size > 1 %}
        <div class="product-options">
          {% if settings.variants_style == 'select' %}
            {%
              render 'product-options-dropdown',
              product: product,
              form_id: form_id
            %}
          {% else %}
            {%
              render 'product-options-radio'
              product: product,
              form_id: form_id
            %}
          {% endif %}

          <div class="selector-wrapper no-js-required">
            <label for="product-select-{{ form_id }}"></label>
            <select
              class="product-select"
              name="id"
              id="product-select-{{ form_id }}">
              {% for variant in product.variants %}
                {%- capture option_content -%}
                  {%- if variant.available -%}
                    {{ variant.title }} - {{ variant.price | money }}
                  {%- else -%}
                    {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                  {%- endif -%}
                {%- endcapture -%}
                <option
                  {% if variant.id == selected_variant.id %}selected="selected"{% endif %}
                  data-variant-id="{{ variant.id }}"
                  {% if variant.available %}
                    data-sku="{{ variant.sku }}"
                    value="{{ variant.id }}"
                  {% else %}
                    disabled="disabled"
                  {% endif %}>
                  {{ option_content | strip_newlines }}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>
      {% else %}
        <input
          class="product-select"
          name="id"
          value="{{ product.variants[0].id }}"
          type="hidden"
          data-variant-title="{{ product.variants[0].title }}" />
      {% endif %}

      {% if show_spb == false or position == 'top' or position == 'bottom' %}
        {% comment %}Inject @pixelunion/pxs-gift-card-recipient-form/recipient-form begin{% endcomment %}
        {% comment %}
          @param form {Object}
            The form object
        
          @param section {Object}
            The section object
        
          @param show_recipient_form {Boolean}
            If true, show the gift card recipient form
        
          @param show_recipient_form_placeholders {Boolean}
            If true, show recipient form placeholder attributes
        
          @param show_recipient_form_labels {Boolean}
            If true, show recipient form input labels
        
          @param show_recipient_form_max_characters_message {Boolean}
            If true, show the recipient form max characters message
        
          @param recipient_form_textarea_rows {Number}
            A numerical value to specify the number of textarea rows
        
          @param recipient_form_textarea_classes {String}
            A space separated list of class names added to recipient form textarea
        
          @param recipient_form_input_classes {String}
            A space separated list of class names added to recipient form inputs
        
          @param recipient_form_label_classes {String}
            A space separated list of class names added to recipient form labels
        
          @param recipient_form_label_position {String}
            The recipient form input label position, either 'top', or 'bottom'
        {% endcomment %}
        
        {% liquid
          assign show_recipient_form_placeholders = show_recipient_form_placeholders | default: false
          assign show_recipient_form_labels = show_recipient_form_labels | default: true, allow_false: true
          assign show_recipient_form_max_characters_message = show_recipient_form_max_characters_message | default: true, allow_false: true
          assign recipient_form_textarea_rows = recipient_form_textarea_rows | default: 5
          assign recipient_form_label_position = recipient_form_label_position | default: 'top'
        %}
        
        {%- if show_recipient_form and product.gift_card? -%}
          <details class="recipient-disclosure" data-recipient-disclosure>
            <summary class="recipient-disclosure__summary">
              <label
                class="recipient-disclosure__checkbox-label"
                for="recipient-disclosure__checkbox-{{ section.id }}"
              >
                <input
                  class="recipient-disclosure__checkbox"
                  id="recipient-disclosure__checkbox-{{ section.id }}"
                  type="checkbox"
                  name="properties[__shopify_send_gift_card_to_recipient]"
                  tabindex="-1"
                  data-recipient-disclosure-checkbox
                >
        
                {%- render 'recipient-form-disclosure-icon' -%}
        
                <span class="recipient-disclosure__checkbox-label-text">
                  {{- 'recipient.form.checkbox_label' | t -}}
                </span>
              </label>
            </summary>
        
            {% comment %} Recipient email {% endcomment %}
            <div class="recipient-form" data-recipient-form>
              <div class="recipient-form__field">
                {%- if show_recipient_form_labels -%}
                  {%- capture recipient_email_label -%}
                    <label
                      class="
                        recipient-form__label
                        {{ recipient_form_label_classes }}
                      "
                      for="recipient-email-{{ section.id }}"
                    >
                      {{- 'recipient.form.email_label' | t -}}
                      <span class="recipient-form__required"> *</span>
                    </label>
                  {%- endcapture -%}
                {%- endif -%}
        
                {%- capture recipient_email -%}
                  <input
                    class="
                      recipient-form__input
                      recipient-form__input--email
                      {{ recipient_form_input_classes }}
                    "
                    id="recipient-email-{{ section.id }}"
                    type="email"
                    {%- if show_recipient_form_placeholders -%}
                      placeholder="{{- 'recipient.form.email_placeholder' | t -}}"
                    {%- endif -%}
                    {%- unless show_recipient_form_labels -%}
                      aria-label="{{- 'recipient.form.email_placeholder' | t -}}"
                    {%- endunless -%}
                    name="properties[Recipient email]"
                    value="{{ form.email }}"
                    data-recipient-form-input
                    data-recipient-form-email-input
                  >
                {%- endcapture -%}
        
                {%- capture recipient_error_message -%}
                  <span class="recipient-form__error-message" data-recipient-form-error-message>
                    {{- 'recipient.form.error_message' | t -}}
                  </span>
                {%- endcapture -%}
        
                {%- if recipient_form_label_position == 'top' -%}
                  <div class="recipient-form__input-wrapper">
                    {{- recipient_email_label -}}
                    {{- recipient_email -}}
                  </div>
                  {{- recipient_error_message -}}
                {%- else -%}
                  <div class="recipient-form__input-wrapper">
                    {{- recipient_email -}}
                    {{- recipient_email_label -}}
                  </div>
                  {{- recipient_error_message -}}
                {%- endif -%}
              </div>
        
              {% comment %} Recipient name {% endcomment %}
              <div class="recipient-form__field">
                <div class="recipient-form__input-wrapper">
                  {%- if show_recipient_form_labels -%}
                    {%- capture recipient_name_label -%}
                      <label
                        class="
                          recipient-form__label
                          {{ recipient_form_label_classes }}
                        "
                        for="recipient-name-{{ section.id }}"
                      >
                        {{- 'recipient.form.name_label' | t -}}
                      </label>
                    {%- endcapture -%}
                  {%- endif -%}
        
                  {%- capture recipient_name -%}
                    <input
                      class="
                        recipient-form__input
                        recipient-form__input--name
                        {{ recipient_form_input_classes }}
                      "
                      id="recipient-name-{{ section.id }}"
                      type="text"
                      {%- if show_recipient_form_placeholders -%}
                        placeholder="{{- 'recipient.form.name_placeholder' | t -}}"
                      {%- endif -%}
                      {%- unless show_recipient_form_labels -%}
                        aria-label="{{- 'recipient.form.name_placeholder' | t -}}"
                      {%- endunless -%}
                      name="properties[Recipient name]"
                      value="{{ form.name }}"
                      data-recipient-form-input
                    >
                  {%- endcapture -%}
        
                  {%- if recipient_form_label_position == 'top' -%}
                    {{ recipient_name_label }}
                    {{ recipient_name }}
                  {%- else -%}
                    {{ recipient_name }}
                    {{ recipient_name_label }}
                  {%- endif -%}
                </div>
              </div>
        
              {% comment %} Recipient message {% endcomment %}
              <div class="recipient-form__field">
                <div class="recipient-form__input-wrapper">
                  {%- liquid
                    assign max_characters_length = 200
        
                    if show_recipient_form_max_characters_message
                      assign max_characters_message = 'recipient.form.max_characters' | t: max_characters: max_characters_length
                    endif
                  -%}
        
                  {%- if show_recipient_form_labels -%}
                    {%- capture recipient_message_label -%}
                      <label
                        class="
                          recipient-form__label
                          {{ recipient_form_label_classes }}
                        "
                        for="recipient-message-{{ section.id }}"
                      >
                        {{- 'recipient.form.message_label' | t -}}
                      </label>
                    {%- endcapture -%}
                  {%- endif -%}
        
                  {%- capture recipient_message -%}
                    <textarea
                      class="
                        recipient-form__input
                        recipient-form__input--message
                        {{ recipient_form_input_classes }}
                        {{ recipient_form_textarea_classes }}
                      "
                      id="recipient-message-{{ section.id }}"
                      {%- if show_recipient_form_placeholders -%}
                        placeholder="{{- 'recipient.form.message_placeholder' | t -}}"
                      {%- endif -%}
                      {%- unless show_recipient_form_labels -%}
                        aria-label="{{- 'recipient.form.message_placeholder' | t -}}"
                      {%- endunless -%}
                      name="properties[Message]"
                      {%- if recipient_form_textarea_rows != 0 -%}
                        rows="{{ recipient_form_textarea_rows }}"
                      {%- endif -%}
                      maxlength="{{ max_characters_length }}"
                      data-recipient-form-input
                    >
                      {{- form.message -}}
                    </textarea>
                  {%- endcapture -%}
        
                  {%- if recipient_form_label_position == 'top' -%}
                    {{ recipient_message_label }}
                    {{ recipient_message }}
                  {%- else -%}
                    {{ recipient_message }}
                    {{ recipient_message_label }}
                  {%- endif -%}
                </div>
        
                {%- if show_recipient_form_max_characters_message -%}
                  <span class="recipient-form__max-characters-message">
                    <small>
                      {{- max_characters_message -}}
                    </small>
                  </span>
                {%- endif -%}
              </div>
        
              {% comment %} Recipient send on date {% endcomment %}
              <div class="recipient-form__field">
                <div class="recipient-form__input-wrapper">
                  {%- if show_recipient_form_labels -%}
                    {%- capture recipient_date_label -%}
                      <label
                        class="
                          recipient-form__label
                          {{ recipient_form_label_classes }}
                        "
                        for="recipient-date-{{ section.id }}"
                      >
                        {{- 'recipient.form.send_on_label' | t -}}
                      </label>
                    {%- endcapture -%}
                  {%- endif -%}
        
                  {%- capture recipient_date -%}
                    <input
                      class="
                        recipient-form__input
                        recipient-form__input--date
                        {{ recipient_form_input_classes }}
                      "
                      id="recipient-date-{{ section.id }}"
                      {%- if show_recipient_form_placeholders -%}
                        placeholder="{{- 'recipient.form.send_on_placeholder' | t -}}"
                      {%- endif -%}
                      {%- unless show_recipient_form_labels -%}
                        aria-label="{{- 'recipient.form.send_on_placeholder' | t -}}"
                      {%- endunless -%}
                      type="date"
                      name="properties[Send on]"
                      autocomplete="send_on"
                      pattern="\d{4}-\d{2}-\d{2}"
                      value="{{ form.send_on }}"
                      data-recipient-form-input
                    >
                  {%- endcapture -%}
        
                  {%- if recipient_form_label_position == 'top' -%}
                    {{ recipient_date_label }}
                    {{ recipient_date }}
                  {%- else -%}
                    {{ recipient_date }}
                    {{ recipient_date_label }}
                  {%- endif -%}
                </div>
              </div>
            </div>
          </details>
        {%- endif -%}
        {% comment %}Inject @pixelunion/pxs-gift-card-recipient-form/recipient-form end{% endcomment %}

      {% endif %}

      <div
        class="
          product__quantity-atc-container
          {% if show_spb %}
            smart-payments
          {% endif %}
        "
        >
        {% unless section_onboarding %}
          <div class="product__quantity-wrapper">
            <label
              class="product-quantity-label"
              for="quantity">
              {{ 'general.general.quantity' | t }}
            </label>
            <input
              class="input-field product-quantity-input"
              type="number"
              name="quantity"
              value="1"
              min="1"
            >
          </div>
        {% endunless %}

        <div class="add-to-cart">
          {% if show_spb and position == 'left' or position == 'right' %}
            {% comment %}Inject @pixelunion/pxs-gift-card-recipient-form/recipient-form begin{% endcomment %}
            {% comment %}
              @param form {Object}
                The form object
            
              @param section {Object}
                The section object
            
              @param show_recipient_form {Boolean}
                If true, show the gift card recipient form
            
              @param show_recipient_form_placeholders {Boolean}
                If true, show recipient form placeholder attributes
            
              @param show_recipient_form_labels {Boolean}
                If true, show recipient form input labels
            
              @param show_recipient_form_max_characters_message {Boolean}
                If true, show the recipient form max characters message
            
              @param recipient_form_textarea_rows {Number}
                A numerical value to specify the number of textarea rows
            
              @param recipient_form_textarea_classes {String}
                A space separated list of class names added to recipient form textarea
            
              @param recipient_form_input_classes {String}
                A space separated list of class names added to recipient form inputs
            
              @param recipient_form_label_classes {String}
                A space separated list of class names added to recipient form labels
            
              @param recipient_form_label_position {String}
                The recipient form input label position, either 'top', or 'bottom'
            {% endcomment %}
            
            {% liquid
              assign show_recipient_form_placeholders = show_recipient_form_placeholders | default: false
              assign show_recipient_form_labels = show_recipient_form_labels | default: true, allow_false: true
              assign show_recipient_form_max_characters_message = show_recipient_form_max_characters_message | default: true, allow_false: true
              assign recipient_form_textarea_rows = recipient_form_textarea_rows | default: 5
              assign recipient_form_label_position = recipient_form_label_position | default: 'top'
            %}
            
            {%- if show_recipient_form and product.gift_card? -%}
              <details class="recipient-disclosure" data-recipient-disclosure>
                <summary class="recipient-disclosure__summary">
                  <label
                    class="recipient-disclosure__checkbox-label"
                    for="recipient-disclosure__checkbox-{{ section.id }}"
                  >
                    <input
                      class="recipient-disclosure__checkbox"
                      id="recipient-disclosure__checkbox-{{ section.id }}"
                      type="checkbox"
                      name="properties[__shopify_send_gift_card_to_recipient]"
                      tabindex="-1"
                      data-recipient-disclosure-checkbox
                    >
            
                    {%- render 'recipient-form-disclosure-icon' -%}
            
                    <span class="recipient-disclosure__checkbox-label-text">
                      {{- 'recipient.form.checkbox_label' | t -}}
                    </span>
                  </label>
                </summary>
            
                {% comment %} Recipient email {% endcomment %}
                <div class="recipient-form" data-recipient-form>
                  <div class="recipient-form__field">
                    {%- if show_recipient_form_labels -%}
                      {%- capture recipient_email_label -%}
                        <label
                          class="
                            recipient-form__label
                            {{ recipient_form_label_classes }}
                          "
                          for="recipient-email-{{ section.id }}"
                        >
                          {{- 'recipient.form.email_label' | t -}}
                          <span class="recipient-form__required"> *</span>
                        </label>
                      {%- endcapture -%}
                    {%- endif -%}
            
                    {%- capture recipient_email -%}
                      <input
                        class="
                          recipient-form__input
                          recipient-form__input--email
                          {{ recipient_form_input_classes }}
                        "
                        id="recipient-email-{{ section.id }}"
                        type="email"
                        {%- if show_recipient_form_placeholders -%}
                          placeholder="{{- 'recipient.form.email_placeholder' | t -}}"
                        {%- endif -%}
                        {%- unless show_recipient_form_labels -%}
                          aria-label="{{- 'recipient.form.email_placeholder' | t -}}"
                        {%- endunless -%}
                        name="properties[Recipient email]"
                        value="{{ form.email }}"
                        data-recipient-form-input
                        data-recipient-form-email-input
                      >
                    {%- endcapture -%}
            
                    {%- capture recipient_error_message -%}
                      <span class="recipient-form__error-message" data-recipient-form-error-message>
                        {{- 'recipient.form.error_message' | t -}}
                      </span>
                    {%- endcapture -%}
            
                    {%- if recipient_form_label_position == 'top' -%}
                      <div class="recipient-form__input-wrapper">
                        {{- recipient_email_label -}}
                        {{- recipient_email -}}
                      </div>
                      {{- recipient_error_message -}}
                    {%- else -%}
                      <div class="recipient-form__input-wrapper">
                        {{- recipient_email -}}
                        {{- recipient_email_label -}}
                      </div>
                      {{- recipient_error_message -}}
                    {%- endif -%}
                  </div>
            
                  {% comment %} Recipient name {% endcomment %}
                  <div class="recipient-form__field">
                    <div class="recipient-form__input-wrapper">
                      {%- if show_recipient_form_labels -%}
                        {%- capture recipient_name_label -%}
                          <label
                            class="
                              recipient-form__label
                              {{ recipient_form_label_classes }}
                            "
                            for="recipient-name-{{ section.id }}"
                          >
                            {{- 'recipient.form.name_label' | t -}}
                          </label>
                        {%- endcapture -%}
                      {%- endif -%}
            
                      {%- capture recipient_name -%}
                        <input
                          class="
                            recipient-form__input
                            recipient-form__input--name
                            {{ recipient_form_input_classes }}
                          "
                          id="recipient-name-{{ section.id }}"
                          type="text"
                          {%- if show_recipient_form_placeholders -%}
                            placeholder="{{- 'recipient.form.name_placeholder' | t -}}"
                          {%- endif -%}
                          {%- unless show_recipient_form_labels -%}
                            aria-label="{{- 'recipient.form.name_placeholder' | t -}}"
                          {%- endunless -%}
                          name="properties[Recipient name]"
                          value="{{ form.name }}"
                          data-recipient-form-input
                        >
                      {%- endcapture -%}
            
                      {%- if recipient_form_label_position == 'top' -%}
                        {{ recipient_name_label }}
                        {{ recipient_name }}
                      {%- else -%}
                        {{ recipient_name }}
                        {{ recipient_name_label }}
                      {%- endif -%}
                    </div>
                  </div>
            
                  {% comment %} Recipient message {% endcomment %}
                  <div class="recipient-form__field">
                    <div class="recipient-form__input-wrapper">
                      {%- liquid
                        assign max_characters_length = 200
            
                        if show_recipient_form_max_characters_message
                          assign max_characters_message = 'recipient.form.max_characters' | t: max_characters: max_characters_length
                        endif
                      -%}
            
                      {%- if show_recipient_form_labels -%}
                        {%- capture recipient_message_label -%}
                          <label
                            class="
                              recipient-form__label
                              {{ recipient_form_label_classes }}
                            "
                            for="recipient-message-{{ section.id }}"
                          >
                            {{- 'recipient.form.message_label' | t -}}
                          </label>
                        {%- endcapture -%}
                      {%- endif -%}
            
                      {%- capture recipient_message -%}
                        <textarea
                          class="
                            recipient-form__input
                            recipient-form__input--message
                            {{ recipient_form_input_classes }}
                            {{ recipient_form_textarea_classes }}
                          "
                          id="recipient-message-{{ section.id }}"
                          {%- if show_recipient_form_placeholders -%}
                            placeholder="{{- 'recipient.form.message_placeholder' | t -}}"
                          {%- endif -%}
                          {%- unless show_recipient_form_labels -%}
                            aria-label="{{- 'recipient.form.message_placeholder' | t -}}"
                          {%- endunless -%}
                          name="properties[Message]"
                          {%- if recipient_form_textarea_rows != 0 -%}
                            rows="{{ recipient_form_textarea_rows }}"
                          {%- endif -%}
                          maxlength="{{ max_characters_length }}"
                          data-recipient-form-input
                        >
                          {{- form.message -}}
                        </textarea>
                      {%- endcapture -%}
            
                      {%- if recipient_form_label_position == 'top' -%}
                        {{ recipient_message_label }}
                        {{ recipient_message }}
                      {%- else -%}
                        {{ recipient_message }}
                        {{ recipient_message_label }}
                      {%- endif -%}
                    </div>
            
                    {%- if show_recipient_form_max_characters_message -%}
                      <span class="recipient-form__max-characters-message">
                        <small>
                          {{- max_characters_message -}}
                        </small>
                      </span>
                    {%- endif -%}
                  </div>
            
                  {% comment %} Recipient send on date {% endcomment %}
                  <div class="recipient-form__field">
                    <div class="recipient-form__input-wrapper">
                      {%- if show_recipient_form_labels -%}
                        {%- capture recipient_date_label -%}
                          <label
                            class="
                              recipient-form__label
                              {{ recipient_form_label_classes }}
                            "
                            for="recipient-date-{{ section.id }}"
                          >
                            {{- 'recipient.form.send_on_label' | t -}}
                          </label>
                        {%- endcapture -%}
                      {%- endif -%}
            
                      {%- capture recipient_date -%}
                        <input
                          class="
                            recipient-form__input
                            recipient-form__input--date
                            {{ recipient_form_input_classes }}
                          "
                          id="recipient-date-{{ section.id }}"
                          {%- if show_recipient_form_placeholders -%}
                            placeholder="{{- 'recipient.form.send_on_placeholder' | t -}}"
                          {%- endif -%}
                          {%- unless show_recipient_form_labels -%}
                            aria-label="{{- 'recipient.form.send_on_placeholder' | t -}}"
                          {%- endunless -%}
                          type="date"
                          name="properties[Send on]"
                          autocomplete="send_on"
                          pattern="\d{4}-\d{2}-\d{2}"
                          value="{{ form.send_on }}"
                          data-recipient-form-input
                        >
                      {%- endcapture -%}
            
                      {%- if recipient_form_label_position == 'top' -%}
                        {{ recipient_date_label }}
                        {{ recipient_date }}
                      {%- else -%}
                        {{ recipient_date }}
                        {{ recipient_date_label }}
                      {%- endif -%}
                    </div>
                  </div>
                </div>
              </details>
            {%- endif -%}
            {% comment %}Inject @pixelunion/pxs-gift-card-recipient-form/recipient-form end{% endcomment %}

          {% endif %}

          {% if product.available %}
            <div class="product-form-submit-wrap">
              <button
                class="
                  add-to-cart__button
                  button
                "
                type="submit"
              >
                <span class="add-to-cart__text">{{ 'products.product.add_to_cart' | t }}</span>
                <span class="add-to-cart-loader" style="display: none;">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-dasharray="62.83" stroke-dashoffset="62.83">
                      <animate attributeName="stroke-dasharray" dur="1.5s" values="0 62.83;31.415 31.415;0 62.83;0 62.83" repeatCount="indefinite"/>
                      <animate attributeName="stroke-dashoffset" dur="1.5s" values="0;-31.415;-62.83;-62.83" repeatCount="indefinite"/>
                    </circle>
                  </svg>
                </span>
              </button>
            </div>

            {% if show_spb %}
              {{ form | payment_button }}
            {% endif %}
          {% else %}
            <input
              class="
                button
                disabled
              "
              type="button"
              disabled="disabled"
              value="{{ 'products.product.sold_out' | t }}">
          {% endif %}
        </div>
      </div>
      <div data-payment-terms-reference style="display: none;">
        {{ form | payment_terms }}
      </div>
    {% endform %}
    <div class="product-cart-message" data-product-message></div>
    <div class="surface-pick-up" data-surface-pick-up></div>
  {% endif %}
</div>

{% render 'add-to-cart-loader-script' %}