<ul>
  {% if settings.social_behance_url != '' %}
    <li><a href="{{ settings.social_behance_url }}" title="{{ shop.name }} on Behance" rel="me" target="_blank" class="icon-behance">Behance</a></li>
  {% endif %}

  {% if settings.social_clubhouse_url != '' %}
    <li><a href="{{ settings.social_clubhouse_url }}" title="{{ shop.name }} on Clubhouse" rel="me" target="_blank" class="icon-clubhouse">Clubhouse</a></li>
  {% endif %}

  {% if settings.social_discord_url != '' %}
    <li><a href="{{ settings.social_discord_url }}" title="{{ shop.name }} on Discord" rel="me" target="_blank" class="icon-discord">Discord</a></li>
  {% endif %}

   {% if settings.social_dribbble_url != '' %}
    <li><a href="{{ settings.social_dribbble_url }}" title="{{ shop.name }} on Dribbble" rel="me" target="_blank" class="icon-dribbble">Dribbble</a></li>
  {% endif %}

  {% if settings.social_email_url != '' %}
    <li><a href="mailto:{{ settings.social_email_url }}" title="Email {{ shop.name }}" class="icon-email">Email</a></li>
  {% endif %}

  {% if settings.social_facebook_url != '' %}
    <li><a href="{{ settings.social_facebook_url }}" title="{{ shop.name }} on Facebook" rel="me" target="_blank" class="icon-facebook">Facebook</a></li>
  {% endif %}

  {% if settings.social_flickr_url != '' %}
    <li><a href="{{ settings.social_flickr_url }}" title="{{ shop.name }} on Flickr" rel="me" target="_blank" class="icon-flickr">Flickr</a></li>
  {% endif %}

  {% if settings.social_houzz_url != '' %}
    <li><a href="{{ settings.social_houzz_url }}" title="{{ shop.name }} on Houzz" rel="me" target="_blank" class="icon-houzz">Houzz</a></li>
  {% endif %}

  {% if settings.social_instagram_url != '' %}
    <li><a href="{{ settings.social_instagram_url }}" title="{{ shop.name }} on Instagram" rel="me" target="_blank" class="icon-instagram">Instagram</a></li>
  {% endif %}

  {% if settings.social_kickstarter_url != '' %}
    <li><a href="{{ settings.social_kickstarter_url }}" title="{{ shop.name }} on Kickstarter" rel="me" target="_blank" class="icon-kickstarter">Kickstarter</a></li>
  {% endif %}

  {% if settings.social_linkedin_url != '' %}
    <li><a href="{{ settings.social_linkedin_url }}" title="{{ shop.name }} on LinkedIn" rel="me" target="_blank" class="icon-linkedin">LinkedIn</a></li>
  {% endif %}

  {% if settings.social_medium_url != '' %}
    <li><a href="{{ settings.social_medium_url }}" title="{{ shop.name }} on Medium" rel="me" target="_blank" class="icon-medium">Medium</a></li>
  {% endif %}

  {% if settings.social_messenger_url != '' %}
    <li><a href="{{ settings.social_messenger_url }}" title="{{ shop.name }} on Messenger" rel="me" target="_blank" class="icon-messenger">Messenger</a></li>
  {% endif %}

  {% if settings.social_opensea_url != '' %}
    <li><a href="{{ settings.social_opensea_url }}" title="{{ shop.name }} on OpenSea" rel="me" target="_blank" class="icon-opensea">OpenSea</a></li>
  {% endif %}

  {% if settings.social_pinterest_url != '' %}
    <li><a href="{{ settings.social_pinterest_url }}" title="{{ shop.name }} on Pinterest" rel="me" target="_blank" class="icon-pinterest">Pinterest</a></li>
  {% endif %}

  {% if settings.social_reddit_url != '' %}
    <li><a href="{{ settings.social_reddit_url }}" title="{{ shop.name }} on Reddit" rel="me" target="_blank" class="icon-reddit">Reddit</a></li>
  {% endif %}

  {% if settings.social_rss_url != '' %}
    <li><a href="{{ settings.social_rss_url }}" title="{{ shop.name }} on RSS" rel="me" target="_blank" class="icon-rss">RSS</a></li>
  {% endif %}

  {% if settings.social_snapchat_url != '' %}
    <li><a href="{{ settings.social_snapchat_url }}" title="{{ shop.name }} on Snapchat" rel="me" target="_blank" class="icon-snapchat">Snapchat</a></li>
  {% endif %}

  {% if settings.social_spotify_url != '' %}
    <li><a href="{{ settings.social_spotify_url }}" title="{{ shop.name }} on Spotify" rel="me" target="_blank" class="icon-spotify">Spotify</a></li>
  {% endif %}

  {% if settings.social_tiktok_url != '' %}
    <li><a href="{{ settings.social_tiktok_url }}" title="{{ shop.name }} on TikTok" rel="me" target="_blank" class="icon-tiktok">TikTok</a></li>
  {% endif %}

  {% if settings.social_tumblr_url != '' %}
    <li><a href="{{ settings.social_tumblr_url}}" title="{{ shop.name }} on Tumblr" rel="me" target="_blank" class="icon-tumblr">Tumblr</a></li>
  {% endif %}

  {% if settings.social_twitch_url != '' %}
    <li><a href="{{ settings.social_twitch_url }}" title="{{ shop.name }} on Twitch" rel="me" target="_blank" class="icon-twitch">Twitch</a></li>
  {% endif %}

  {% if settings.social_twitter_url != '' %}
    <li><a href="{{ settings.social_twitter_url}}" title="{{ shop.name }} on Twitter" rel="me" target="_blank" class="icon-twitter">Twitter</a></li>
  {% endif %}

  {% if settings.social_vimeo_url != '' %}
    <li><a href="{{ settings.social_vimeo_url }}" title="{{ shop.name }} on Vimeo" rel="me" target="_blank" class="icon-vimeo">Vimeo</a></li>
  {% endif %}

  {% if settings.social_whatsapp_url != '' %}
    <li><a href="{{ settings.social_whatsapp_url }}" title="{{ shop.name }} on WhatsApp" rel="me" target="_blank" class="icon-whatsapp">WhatsApp</a></li>
  {% endif %}

  {% if settings.social_youtube_url != '' %}
    <li><a href="{{ settings.social_youtube_url }}" title="{{ shop.name }} on YouTube" rel="me" target="_blank" class="icon-youtube">YouTube</a></li>
  {% endif %}
</ul>
