<!doctype html>
<html class="no-js no-touch" lang="{{ request.locale.iso_code }}">
<head>
  <script>
    window.Store = window.Store || {};
    window.Store.id = {{ shop.id }};
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- Preconnect Domains -->
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
  <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">

  <!-- Preload Assets -->
  <link rel="preload" href="{{ 'gift-card.css' | asset_url }}" as="style">

  <link rel="preload" href="{{ 'modernizr-2.7.1.min.js' | asset_url  }}" as="script">

  <link rel="preload" href="{{ 'jquery-1.10.0.min.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'api.jquery.js' | shopify_asset_url }}" as="script">
  <link rel="preload" href="{{ 'vendor/qrcode.js' | shopify_asset_url }}" as="script">

  <link rel="preload" href="{{ 'startup.js' | asset_url }}" as="script">

  <title>{{ 'gift_cards.issued.title' | t: value: formatted_initial_value_stripped, shop: shop.name }}</title>

  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}" />

  <meta name="viewport" content="width=device-width,initial-scale=1" />

  {{ content_for_header }}

  {% assign twitter_handle = settings.social_twitter_url | split: 'twitter.com/' | last %}
  {%
    render 'social-meta-tags',
    twitter_handle: twitter_handle
  %}

  <!-- Theme CSS -->
  <link rel="stylesheet" href="{{ 'gift-card.css' | asset_url }}">

  <!-- Store object -->
  {% comment %}Inject theme-object begin{% endcomment %}
  <script type="text/javascript">
    window.Theme = window.Theme || {};
    window.Theme.version = '13.0.0';
    window.Theme.name = 'Startup';
    window.Theme.moneyFormat = {{ shop.money_format | strip_html | json }};
    window.Theme.routes = {
      "root_url": "{{ routes.root_url }}",
      "account_url": "{{ routes.account_url }}",
      "account_login_url": "{{ routes.account_login_url }}",
      "account_logout_url": "{{ routes.account_logout_url }}",
      "account_register_url": "{{ routes.account_register_url }}",
      "account_addresses_url": "{{ routes.account_addresses_url }}",
      "collections_url": "{{ routes.collections_url }}",
      "all_products_collection_url": "{{ routes.all_products_collection_url }}",
      "search_url": "{{ routes.search_url }}",
      "predictive_search_url": "{{ routes.predictive_search_url }}",
      "cart_url": "{{ routes.cart_url }}",
      "cart_add_url": "{{ routes.cart_add_url }}",
      "cart_change_url": "{{ routes.cart_change_url }}",
      "cart_clear_url": "{{ routes.cart_clear_url }}",
      "product_recommendations_url": "{{ routes.product_recommendations_url }}",
    };
  </script>
  {% comment %}Inject theme-object end{% endcomment %}

</head>

<body class="template-{{ template | replace: '.', '-' | handle }}">
  <script>
    if(('ontouchstart' in window)||window.DocumentTouch&&document instanceof DocumentTouch)document.documentElement.className=document.documentElement.className.replace(/\bno-touch\b/,'has-touch');
  </script>

  {{ content_for_layout }}

  <!-- Third Party JS Libraries -->
  <script src="{{ 'modernizr-2.7.1.min.js' | asset_url }}" defer></script>

  <!-- Scripts -->
  <script src="{{ 'jquery-1.10.0.min.js' | asset_url }}" defer></script>
  <script src="{{ 'api.jquery.js' | shopify_asset_url }}" defer></script>
  <script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer></script>

  <script src="{{ 'startup.js'  | asset_url }}" defer></script>

  <script>
    (function () {
      function handleFirstTab(e) {
        if (e.keyCode === 9) { // the "I am a keyboard user" key
          document.body.classList.add('user-is-tabbing');
          window.removeEventListener('keydown', handleFirstTab);
        }
      }
      window.addEventListener('keydown', handleFirstTab);
    })();
  </script>
</body>
</html>