<section
  class="module-container {{ section.settings.style }} rows-of-{{ section.settings.logos_in_rows }}"
  data-section-id="{{ section.id }}"
  data-section-type="featured-press">
  <div class="module-inner module-inline-items dynamic-logo-list">

    {% if section.settings.title != blank %}
      <h2 class="section-title">{{ section.settings.title | escape }}</h2>
    {% endif %}

    {% for block in section.blocks %}
      {%- assign logo = block.settings.logo -%}
      {%- assign url = block.settings.url -%}

      <div class="module-inline-item dynamic-logo-list-item" {{ block.shopify_attributes }}>
        {% if url != blank %}
          <a href="{{ url }}" target="_blank">
        {% endif %}

        {% if block.settings.logo != blank %}
          {%
            render 'rimg',
            img: logo,
            size: '570x333',
            lazy: true,
            focal_point: logo.presentation.focal_point,
          %}
        {% else %}
          {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}

        {% if url != blank %}
            </a>
        {% endif %}
        
        {% if block.settings.title != blank %}
          <p class="dynamic-logo-list-title">{{ block.settings.title | escape }}</p>
        {% endif %}
      </div>
    {% endfor %}

  </div>
</section>

<style>
  /* Remove the border line that appears above this section */
  #shopify-section-{{ section.id }}::before {
    display: none !important;
  }
</style>

{% schema %}
{
  "name": "Logo list",
  "max_blocks": 12,
  "settings": [
    {
      "type": "select",
      "id": "style",
      "label": "Style",
      "options": [
        {
          "value": "default-style",
          "label": "Default"
        },
        {
          "value": "accent-style",
          "label": "Accent"
        },
        {
          "value": "contrast-style",
          "label": "Contrast"
        }
      ],
      "default": "default-style"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Logo list"
    },
    {
      "type": "range",
      "id": "logos_in_rows",
      "label": "Logos per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 4
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "url",
          "id": "url",
          "label": "Link URL"
        },
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo image",
          "info": "660 x 560px .png recommended"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "placeholder": "Enter title for this logo"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Image",
      "name": "Logo list",
      "blocks": [
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        },
        {
          "type": "logo"
        }
      ]
    }
  ],
  "enabled_on": {
    "templates": [
      "index",
      "product",
      "page"
    ]
  }
}

{% endschema %}